[Desktop Entry]
Name=TradeClient
Comment=Messaging and PIM Client
Comment[pl]=Program pocztowy oraz PIM 
Exec=tradeclient
Terminal=0
Icon=tradeclient.png
Type=Application
# vi: encoding=utf-8
